@model IBAMembersApp.Models.ContentLibraryViewModel

@{
    ViewBag.Title = "Activate Content";
}

@section navigation {
    @Html.Partial("ContentPartial")
}
@section subnav
{
    <h2>@ViewBag.Title</h2>
}

<h3>Are you sure you want to Activate this? (no editing will be possible after Activation)</h3>
<div>
    @Html.Partial("ReadOnlyPartialView", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                &nbsp;
            </dt>

            <dd>
                <input type="submit" value="Activate" class="btn btn-success" /> <br /><br /><br />
                @Html.ActionLink("Back to Content Library", "Index")
            </dd>
        </dl>
    }
</div>
