@model IEnumerable<IBAMembersApp.Models.ContentLibraryViewModel>

@{
    ViewBag.Title = "History";
}
@section subnav
{
    <h2>@ViewBag.Title</h2>
}
@section navigation {
    @Html.Partial("ContentPartial")
}
@section actions
{
    @Html.ActionLink("Active Content", "Index", null, new { @class = "btn btn-primary" })
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="alert alert-danger" style="display:none;" id="page-errors"><span id="page-errors-message"></span></div>
        <div class="table-responsive dataTables_wrapper">
            <table class="table table-striped table-hover table-bordered" id="contentlibrary">
                <thead>
                    <tr>
                        <th class="sorting_disabled">
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Precis)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContentType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Url)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Featured)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                <img src="@item.ImageUrl" alt="Image" style="height: 60px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.TextAreaFor(modelItem => item.Precis, new { rows = 3, cols = 30 , @class = "textarea-in-grid", @readonly=true})
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContentType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Url)
                            </td>
                            <td>
                                @if (item.Featured)
                                {
                                    <span class="btn glyphicon glyphicon-ok" ></span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn glyphicon glyphicon-info-sign", title = "Details" })
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>


@section scripts
{
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        $(document).ready(function () {
            var coldefs = [
            {
                "targets": 0,
                "orderable": false
            },
            {
                "targets": 2,
                "orderable": false
            },
                {
                    "targets": 4,
                    "searchable": false
                },
                {
                    "targets": 7,
                    "orderable": false
                }
            ];
            var opts = { "order": [[6, "desc"]], "columnDefs": coldefs };
            WebTemplate.DataTables.ClientSide("contentlibrary", opts);
        });
    </script>
}
